.banner{
    background-image: url(/bghtml.jpg);
    background-size: cover;
    height:720px;
}
.col-sm-12{
    height: 550px;
}
.col-lg-8{
    text-align: center;
}
.col-lg-8 video{
    height: 100%;
}
